.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: var(--spacing-024);
}

.cards > ul > li {
  border: var(--weight-s) solid var(--color-grey-200);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: var(--spacing-016);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: var(--aspect-ratio-landscape);
  object-fit: cover;
}
