.accordion details {
  border: var(--weight-s) solid var(--color-grey-200);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: var(--spacing-024);
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 0 var(--spacing-016);
  padding-right: var(--spacing-048);
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color var(--transition-duration-fast);
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--light-color);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: var(--spacing-016);
  transform: translateY(-50%) rotate(135deg);
  width: var(--sizing-006);
  height: var(--sizing-006);
  border: var(--weight-m) solid;
  border-width: var(--weight-m) var(--weight-m) 0 0;
  transition: transform var(--transition-duration-fast);
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 var(--spacing-016);
}

.accordion details:not([open]) .accordion-item-body {
  display: none;
}

.accordion details[open] .accordion-item-body {
  border-top: var(--weight-s) solid var(--color-grey-200);
  background-color: var(--background-color);
}
