body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: color-mix(in srgb, var(--color-grey-900) 75%, transparent);
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  width: calc(100vw - var(--spacing-048));
  max-width: var(--layout-max-width-narrow);
  max-height: calc(100dvh - (2 * var(--header-height)));
  padding: 0;
  border: var(--weight-s) solid var(--dark-color);
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - var(--spacing-048));
  padding: var(--spacing-024);
  padding-top: 0;
  margin-top: var(--spacing-048);
}

@media (width >= 900px) {
  .modal dialog {
    width: calc(100vw - var(--spacing-064));
  }
  
  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - var(--spacing-064));
    padding: var(--spacing-032);
    padding-top: 0;
  }
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--spacing-048);
  height: var(--spacing-048);
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  line-height: var(--line-height-none);
}

.modal .close-button .icon.icon-close {
  content: '';
  width: var(--sizing-024);
  height: var(--sizing-024);
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: var(--sizing-024);
  height: var(--weight-m);
  border-radius: var(--weight-m);
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg)
}

.modal dialog .section {
  padding: 0;
}
